p {
    color: #DA8FFF;
}

body{
    background-color: #FFF8E0;   /*<#FFF8E0, #FFF9E6>*/
}
/* to have github be updated do this in order: git status, git add ., git commit -m "random", git push -u origin master */
h1{
    color: #DA8FFF
}

h2{
   color: #DA8FFF
}
h3 {
    color: #DA8FFF
}

.text {
    color: #DA8FFF;
  }

#smiley {
    width: 300px;
    height: auto;
  }

@media only screen and (max-width: 400px) {


    #smiley {


        width: 300px;


    }


}

